body {
  margin: 0;
}

.container {
  border: 6px solid black;
  display: flex;
  /* flex-direction: row;*/
  flex-wrap: wrap;

  /* flex-flow: column-reverse wrap-reverse; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-evenly; */
  height: 100vh;
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: baseline; */
  align-content: flex-start;
}

.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.item-1 {
  background-color: #b4bf35;
  /* padding-bottom: 3rem; */
}

.item-2 {
  background-color: #b95f21;
  /* padding-bottom: 5rem; */
}

.item-3 {
  background-color: #1c4c56;
  /* padding-top: 2rem; */
}

.item-4 {
  background-color: red;
}

.item-5 {
  background-color: #6b0803;
}

.item-6 {
  background-color: aqua;
}

.item-7 {
  background-color: rgb(102, 60, 60);
}

.item-8 {
  background-color: rgb(99, 99, 161);
}
.item-9 {
  background-color: rgb(66, 224, 66);
}
