body {
  margin: 0;
}

.container {
  border: 6px solid black;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */

  /* flex-flow: column-reverse wrap-reverse; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  justify-content: space-around;
  /* height: 400px; */
}

.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.item-1 {
  background-color: #b4bf35;
}

.item-2 {
  background-color: #b95f21;
}

.item-3 {
  background-color: #1c4c56;
}

.item-4 {
  background-color: red;
}

.item-5 {
  background-color: #6b0803;
}

.item-6 {
  background-color: aqua;
}

.item-7 {
  background-color: black;
}

.item-8 {
  background-color: blue;
}
.item-9 {
  background-color: green;
}
